<h2 class="scoreboard">Scoreboard</h2>
<div class="container">
  {{player-card team="blue" photo="/photo1.jpg" name="Alex" score=5}}
  {{player-card team="red" photo="/photo2.jpg" name="Megan" score=3}}
  <!-- <div class="card blue">
    <h2>Alex</h2>
    <img src="/photo1.jpg" class="profile" />
    <h1 {{action "increment"}}>5</h1>
  </div>

  <div class="card red">
    <h2>Megan</h2>
    <img src="/photo2.jpg" class="profile" />
    <h1>3</h1>
  </div> -->

</div>
{{outlet}}
